rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // 📁 USERS – nick przypisany do UID
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // 📁 TURNIEJ – tylko admin ma pełen dostęp
    match /turniej/stats {
      allow read, write, delete: if request.auth != null && request.auth.token.admin == true;
    }

    // 🔐 Domyślnie wszystko zablokowane
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
